
  .Streaming {
    position: relative;
  }
  .Streaming-header {
    background-color: #282c34;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .Streaming-link {
    color: #61dafb;
  }