.submitCSV {
    text-align: center;
  }
  
  .submitCSV-header {
    background-color: white;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .submitCSV-link {
    color: #61dafb;
  }